header{
  width: 100vw;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.logo{
  width: 200px;
  height: 200px;
}

.logo img{
  width: 100%;
  height: 100%
}

header ul{
  width: 60vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

header a:hover{
  background-color: #80808060;
}

.banner,
.sobre,
.cardapio,
.reservas,
.localizacao,
.contatos,
.galeria{
  width: 100vw;
  height: auto;
}


.banner {
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  object-fit: cover;
  width: 100%;
}

.sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.logo-sobre,
.logo-galeria,
.loc-logo,
.reserva-logo,
.contato-logo{
  width: 100px;
}

h2{
  font-weight: normal;
  font-size: 32px;
}

.content{
  display: flex;
  width: 90vw;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.text{
  width: 20vw;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  gap: 30px;
  justify-content: center;
  align-items: center;
}


.imagem-sobre img{
  width: 300px;
  height: 500px;
  border-radius: 80px 0 80px 0;
}

.galeria{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.images-galeria{
  display: flex;
  width: 85vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.galeria-imagem{
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria-imagem img{
  width: 100%;
  height: 100%;
  transition: .8s ease-in-out;
}

.galeria-imagem:hover img{
  filter: grayscale(100%);
  width: calc(250px * .95);
  height: calc(180px * .95);
}

.cardapio{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #80808010;
}

.button{
  border: 2px solid;
  padding: 20px;
  width: 200px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.button:hover{
  background-color: #80808060;
}

.cardapio a{
  text-decoration: none;
  color: #000;
}

.localizacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px;
}

.mapas{
  width: 90vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mapa-informacao{
  background-color: #80808010;
  width: 400px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}


.mapa1,
.mapa2{
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe{
  width: 100%;
  height: 100%;
}

.reservas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  background-color: #80808010;
}

button{
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
}

form{
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
select{
  height: 30px;
  padding: 0 10px;
}

textarea{
  padding: 10px 20px;
}

.contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  background-color: 
}


@media (max-width: 696px){
  header{
    height: 30vh;
    position: fixed;
    top: 0;
    z-index: 200;
  }

  .logo{
    width: 180px;
    height: 30vh;
  }

  header ul{
    display: none;
  }

  h2{
    width: 100vw;
    text-align: center;
  }

  main{
    margin-top: 30vh;
  }
  .banner{
    display: none;
  }

  .sobre{
    width: 100vw;
  }

  .content{
    display: flex;
    flex-direction: column-reverse;
  }


  .text{
    width: 90vw;
  }

  .imagem-sobre{
    width: 100vw;
    height: 40vh;
  }

  .imagem-sobre img{
    width: 100%;
    border-radius: 0;
    height: 100%;
  }

  .images-galeria{
    width: 95vw;
  }
  
  .galeria-imagem{
    width: 90vw;
    height: 300px;
  }

  .galeria-imagem:hover img{
    width: calc(90vw * .95);
    height: calc(300px * .95);
  }

  form{
    width: 100vw;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .social-media figure{
    width: 60%;
    gap: 10px;
  }

}

@media (max-width: 1308px) and (min-width: 696px){

  .banner{
    height: 30vh;
  }
  
  .sobre{
    width: 100vw;
  }

  .content{
    display: flex;
    flex-direction: column-reverse;
  }


  .text{
    width: 90vw;
  }

  .imagem-sobre{
    width: 100vw;
    height: 40vh;
  }

  .imagem-sobre img{
    width: 100%;
    border-radius: 0;
    height: 100%;
  }

  
}
